* {
    font-family: 'Libre Baskerville';
    color: 'dark gray';
}

body {
    background-color: white;
}

h2 {
    font-style: cursive;
    text-align: center;
}

.banner {
    background-image: url("https://source.unsplash.com/uRvI1Q64vzg");
    background-size: cover;
    background-position: bottom center;
    height: 650px;
    z-index: 1;
}

.banner h1,
.banner h1 a,
.banner h1 a:visited,
.banner h1 a:active {
    color: #ffffff;
    font-size: 50pt;
    position: relative;
    text-align: center;
}

.banner .container h1 {
    border: 4px solid white;
    position: relative;
    top: 50px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

.about p {
    text-align: center;
}

.projects .container img {
    width: 100%;
    height: 100%;
}

.team .container img{
    width:100%;
    height:100%;
}

.content {
    margin-left: 100px;
}



.date {}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    text-align: center;
}

.post h1 a,
.post h1 a:visited {
    text-align:center;
    color: black;
}

.post p {
    text-align:center;
}

.fa {
    padding: 20px 20px 20px 0px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    color: black;
}

.team:hover img {
    opacity: 0.3;
}

