* {
    font-family: 'Libre Baskerville';
    color: 'dark gray';
}

h2 {
    font-style: cursive;
}


.banner {
    background-image: url("https://source.unsplash.com/uRvI1Q64vzg");
    background-size: cover;
    background-position: bottom center;
    height: 650px;
    z-index: 1;
}

.banner h1,
.banner h1 a,
.banner h1 a:visited,
.banner h1 a:active {
    color: #ffffff;
    font-size: 50pt;
    position: relative;
    text-align: center;
}

.banner .container h1 {
    border: 4px solid white;
    position: relative;
    top: 50px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}

.banner .navbar {
    padding: 10px;
}

.about {
    align-self: center;
    padding: 30px;
    margin: 0px 100px;
    min-width: 500px;
}


#projects {
    margin: auto;
    padding: 30px;
}

#projects .container img {
    width: 100%;
    height: 100%;
}


.content {
    margin-left: 100px;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    text-align: center;
}

.post h3 a,
.post h3 a:visited {
    text-align: center;
    color: black;
}

.post p {
    text-align: center;
}

#team {
    background-color: #F7F7F7;
    padding: 30px;
}

#team .hover-top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    color: #3E474F;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    align-content: center;
}

#team .hover-top:hover, .team.active span{
    opacity:1;
}

#team span{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#team .container img{
    width: 100%;
    height: 100%;
}

.blog-info {
    background-image: url("https://source.unsplash.com/IBnAVRHBYgA");
    background-size: cover;
    background-position: center 10%;
    height: 400px;
}

.blog-info h2 {
    border: 4px solid white;
    position: relative;
    top: 100px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    color: #ffffff;
}

.footer {
    background-color: #EFF0F4;
    padding: 30px;
    color: #797D81;
    padding: 30px;
}

.footer .fa {
    padding: 20px 20px 20px 0px;
    font-size: 20px;
    width: 30px;
    border-radius: 50%;
    color: #797D81;
    text-decoration: none;
}